<!-- <phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<browser name="Internet Explorer" browser="*iexplore" />
		<browser name="Firefox" browser="*firefox" />
	</selenium>

</phpunit> -->

<phpunit bootstrap="bootstrap.php">
    <testsuite name="Unit Tests">
        <directory>./unit/</directory>
    </testsuite>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>
</phpunit>

